# SimCore host runtime configuration. Relative paths resolve from this file.
format_version=1
vehicle_config=vehicle_sedan.cfg
map_package=../../../map_packages/wall_broad_v1
ws_port=9000
physics_hz=60
origin_lat_deg=40.70694
origin_lon_deg=-74.01083
origin_alt_m=0
spawn_heading_deg=0
command_timeout_ms=250
max_command_queue_age_ms=100
hard_command_timeout_ms=1000
source_id=simcore-cpp-host
demo_entities=false
